<template>
    <header-component></header-component>
    <router-view />
</template>

<style>
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
    transition: opacity 0.7s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
</style>

<script>
    import headerComponent from '@/components/headerComponent.vue'
    export default {
        name: 'AppComponent',
        setup() {
        },
        components: {
            headerComponent
        }
    }
</script>
