<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <router-link class="navbar-brand" :to="{name: 'home'}">WeatherApp</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link class="nav-link active" :to="{name: 'home'}">Home</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<style scoped>
    .bg-blue {
        background-color: cornflowerblue;
    }
</style>

<script>
    export default {
        name: 'headerComponent'
    }
</script>
