<template>
    <div class="container">
        <div class="row justify-content-center">

            <Transition>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" v-if="data.humidity">

                    <div class="card mt-5">
                        <div class="card-body">
                            <div class="h5">The humidity in {{ data.city }} was {{ data.humidity }}%</div>
                            <div>This data was consulted {{ data.created_at }}</div>
                        </div>
                    </div>

                    <map-component v-if="data.humidity" :latitude="data.latitude" :longitude="data.longitude" />

                </div>

                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-5" v-else-if="error">
                    <div class="alert alert-danger" role="alert">Record could not be found</div>
                </div>
            </Transition>

        </div>
    </div>
</template>

<script>
import mapComponent from "@/components/mapComponent.vue";
import {onMounted, ref} from "vue";
import {useRoute} from "vue-router";
import HistoryApi from "@/services/HistoryApi.js";

export default {
    name: 'historyComponent',
    components: {mapComponent},
    setup() {
        const data = ref([])
        const id = ref(0)
        const error = ref(false)
        id.value = useRoute().params.id

        onMounted(async () => {
            //Obtain data from a specific history
            await HistoryApi.find(id.value)
                .then((response) => {
                    data.value = response
                })
                .catch((err) => {
                    error.value = true
                })

        })

        return {data, error}
    }
}
</script>
