<template>
    <div class="card mt-2">
        <div class="card-body">
        <GoogleMap :api-key="api_maps" style="width: 100%; height: 600px" :center="center" :zoom="8"></GoogleMap>
        </div>
    </div>
</template>

<script>
import { toRefs } from 'vue'
import { GoogleMap, Marker } from "vue3-google-map";

export default {
    name: 'mapComponent',
    components: { GoogleMap, Marker },
    props: {
        latitude: {
            type: Number,
            required: true,
            default: function(){
                return 39.50
            }
        },
        longitude: {
            type: Number,
            required: true,
            default: function(){
                return -98.35
            }
        }
    },
    setup(props) {
        const api_maps = import.meta.env.VITE_MAPS_API_KEY
        const { latitude, longitude } = toRefs(props)
        const center = { lat: latitude.value, lng: longitude.value }
        return { center, api_maps }
    }
}
</script>
