<template>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" v-if="!error">
                <div class="card mt-5" v-if="cities">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="city" class="font-weight-bold">Select a City:</label>
                            <select name="city" v-model="city" class="form-control" id="city">
                                <option value="">-- select --</option>
                                <option v-for="city of cities" :key="city.id" :value="city.id">{{ city.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <Transition>
                <div class="card mt-2" v-if="data.humidity">
                    <div class="card-body">
                        <div class="h5">The humidity in {{ data.city_name }} is {{ data.humidity }}%</div>
                        <div v-if="history">
                            Share these statistics with the following <router-link class="font-weight-bold" :to="{path: 'view-history/'+history.id}" >link</router-link>
                        </div>
                    </div>
                </div>
                </Transition>

                <Transition>
                    <map-component v-if="data.humidity" :latitude="data.latitude" :longitude="data.longitude"></map-component>
                </Transition>

            </div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-5" v-else>
                <div class="alert alert-danger" role="alert">An error has occurred</div>
            </div>

        </div>
    </div>
</template>

<script>
import mapComponent from "@/components/mapComponent.vue";
import { ref, watch, onMounted } from "vue";
import CitiesApi from "@/services/CitiesApi.js";
import OpenWeatherApi from "@/services/OpenWeatherApi.js";
import HistoryApi from "@/services/HistoryApi.js";

export default {
    name: 'weatherComponent',
    components: {mapComponent},
    setup() {
        const city = ref('')
        const cities = ref([])
        const history = ref([])
        const data = ref([])
        const error = ref(false)

        onMounted(async () => {
            //Get all cities
            await CitiesApi.getCities()
                .then((response) => {
                    cities.value = response
                })
                .catch((err) => {
                    error.value = true
                })
        })

        watch(city, async(newValue) => {
            //reset
            data.value.humidity = null

            //Find specific city
            const city_data = cities.value.find(obj => obj.id === newValue)

            if(city_data) {
                //Get humidity from openweathermap
                await OpenWeatherApi.getData(city_data.latitude, city_data.longitude)
                    .then((obj) => {
                        data.value.humidity = obj.current.humidity
                        data.value.latitude = parseInt(city_data.latitude)
                        data.value.longitude = parseInt(city_data.longitude)
                        data.value.city_name = city_data.name
                    }).catch((err) => {
                        error.value = true
                    })

                await HistoryApi.create(city_data.id, data.value.humidity)
                    .then((response) => {
                        history.value = response
                    })
                    .catch((err) => {
                        error.value = true
                    })
            }

        })
        return { city, cities, data, history, error }
    }
}
</script>
